.recuadrosIndex {
    background-color: pink;
    z-index: 1;    
    opacity: 0.95;
}

.contenedorIndex {
    z-index: 2;
}

#formBusqueda > *{
    margin: 0 auto;
}

.botonRedondo {
    border-radius: 15px;
}