<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p id="p1">abc</p>

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me 2</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <ol id="ol_id">
        <todo-item></todo-item>
    </ol>

    <div id="components-demo">
        <button-counter></button-counter>
      </div>      

    <script src="js/vue.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue! 2222'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        })

        Vue.component('todo-item', {
            template: '<li>This is a todo</li>'
        })

        // Define a new component called button-counter
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })

        new Vue({ el: '#ol_id' })
        
        new Vue({ el: '#components-demo' })

    </script>
</body>

</html>